body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #1a1a1a; /* Dark background color */
  color: #e0e0e0; /* Light text color for better readability */
}


header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

/* General styles - scoped to the header's nav */
header nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;
  /* You might adjust padding as per your design needs */
}

header nav ul {
  display: flex;
  flex-direction: row;
  /* Ensures horizontal layout by default */
  gap: 1.25rem;
  /* Control the space between menu items */
  list-style: none;
  margin: 0;
  padding: 0;
  transition: flex-direction 0.3s ease;
  /* Smooth transition for layout changes */
}

header .tracking-in-expand {
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  font-size: 18px;
  font-weight: 600;
  color: #fefefe;
  position: relative;
  transition: color 0.25s;
  /* Transition for color change on hover */
}

header .tracking-in-expand:hover {
  color: black;
  /* Hover color change, ensure it fits your design palette */
}

header .tracking-in-expand::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #fefefe;
  scale: 1 0;
  z-index: -1;
  transition: 0.45s;
  border-radius: 10px;
}

header .tracking-in-expand:hover::after {
  scale: 1 1;
  /* Scale the pseudo-element to full size on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    /* Changes layout to vertical on smaller screens */
  }

  header nav {
    padding: 20px;
    /* Adjusts padding for smaller screens */
  }
}


.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}

.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  max-width: 400px;
  width: 80%;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-header h3 {
  margin: 0;
}

.close {
  font-size: 24px;
  cursor: pointer;
}

.popup-content form {
  margin-top: 20px;
}

.popup-content label {
  display: block;
  margin-bottom: 8px;
}

.popup-content input,
.popup-content textarea {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 16px;
}

.popup-content button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #103154;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Arial', sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* Include padding in width/height */
}

textarea {
  height: 100px;
  /* Reduced height */
  resize: none;
  /* Disable resizing */
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .popup-content {
    width: 70%;
    /* Adjust width on smaller screens */
  }
}


#animated-icon {
  position: absolute;
  left: 0;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #eee9e9;
  /* Change this to your preferred color */
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav ul li a:hover {
  color: #eaff00;
  /* Change this to your preferred hover color */
  text-decoration: underline;
}


section {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #282828; /* Dark grey background */
}

.project {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
}

/* // footer css and media queries */

.footer {
  background-color: goldenrod; /* Dark background for the section */
  color: #E3F2FD; /* Light blue text */

  margin: 20px;
}

.footer a {
  color: #E3F2FD;
}

.footer a:hover {
  color: #FFEB3B; /* Yellow for a pop of color */
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }

  .contact-info,
  .social-links,
  .copyright {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

/* Styles for screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {

  .contact-info,
  .social-links {
    flex-basis: 50%;
  }
}

.contact-info,
.social-links,
.copyright {
  flex-basis: 30%;
  text-align: center;
}

.social-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
}

.social-links a {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #e67e22;
}

.logo img,
.social-media img {
  max-width: 30px;
  /* Adjust as needed */
  height: auto;
}





/* General styles for the Contact section */
#contact {
  background-color: #333; /* Dark background for the section */
  color: #fff; /* White text for readability */
  padding: 20px;
  border-radius: 8px;
}

#contact h2 {
  color: #ddd; /* Slightly lighter grey for the heading */
}

#contact p {
  line-height: 1.6; /* Improved line spacing for better readability */
}

/* Styling for email and city text */
.email-container {
  background: #444; /* Slightly lighter background for email container */
  padding: 5px 10px;
  border-radius: 5px;
  color: #bada55; /* Eye-catching color for the email */
}

/* Button styling */
#contactBtn {
  background-color: #007BFF; /* Vibrant blue for the button */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
}

#contactBtn:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05); /* Slight enlargement on hover */
}

#contactBtn:focus {
  outline: none; /* Removes the default focus outline */
  box-shadow: 0 0 0 2px rgba(0,123,255,0.5); /* Custom focus style */
}





/* about section part css */
.headClass {
  overflow: hidden; /* Ensures that content clipped if it overflows */
  display: inline-block; /* Aligns to the text size */
}

h1 {
  font-size: 3rem;
  color: #ffffff;
  white-space: nowrap; /* Ensures the text stays in a single line */
  margin: 0;
  animation: reveal 2s ease-out forwards; /* Animation applied to h1 */
}

/* Keyframes for the reveal animation */
@keyframes reveal {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  h1 {
      font-size: 2rem; /* Smaller font size for mobile screens */
  }
}

/* Additional media query for very small screens */
@media (max-width: 400px) {
  h1 {
      font-size: 1.5rem; /* Even smaller font size for very small screens */
  }
}












/* About section styling */
#about {
  background: radial-gradient(circle at 50% 0%, #262626, #000000);
  color: #fff;
  padding: 100px 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.typewriter h1 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 48px;
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00;
  border-right: 0.15em solid orange; /* Cursor color */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  width: 100%;
  overflow: hidden;
  animation: typing 3.5s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}

/* Make the cursor stop blinking once typing is complete */
.typewriter h1 {
  animation-delay: 0s, 3.5s; /* Start blinking animation after typing is complete */
  animation-iteration-count: 1, infinite;
}

.header-with-image {
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-top: 40px;
}

.header-with-image h2 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 36px;
  
  margin-right: 20px;
}

.header-with-image img {
  width: 120px;
  height: 120px;
  filter: drop-shadow(0 0 10px #f8f9f8) drop-shadow(0 0 20px #ffffff) drop-shadow(0 0 40px #00ff00);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
}

#about p {
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00;
  max-width: 800px;
  margin: 20px auto 30px; /* Increased bottom margin for better paragraph separation */
  line-height: 1.6;
  position: relative;
  padding: 0 10px; /* Added padding for better text handling */
}

#about p::before {
  content: '>';
  position: absolute;
  left: -30px;
  color: #00ff00;
  font-size: 20px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}



















/* ************Skills section css*********** */

/* Overall section styling */
.skills-section {
  background: linear-gradient(135deg, #333, #333);
  padding: 100px 0;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

/* Heading styles */
.skills-section h2 {
  font-size: 52px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  margin-bottom: 80px;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
}

.skills-section h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 80%);
  z-index: -1;
}

/* Skill category styles */
.skill-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.skill-category h3 {
  font-size: 28px;
  font-weight: 700;
  color: #cad3d8;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.skill-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.skill-list li {
  background-color: #000000;
  color: #fff;
  padding: 15px 30px;
  margin: 5px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.skill-list li:hover {
  background-color: #ffffff;
  color: #000000;
  transform: translateY(-5px);
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .skills-section h2 {
    font-size: 40px; /* Smaller font size for medium screens */
    margin-bottom: 50px; /* Less vertical spacing */
    letter-spacing: 3px; /* Slightly reduced letter spacing */
  }

  .skill-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .skills-section h2 {
    font-size: 28px; /* Even smaller font size for small screens */
    margin-bottom: 30px; /* Further reduced vertical spacing */
    letter-spacing: 1px; /* Minimal letter spacing */
  }

  .skill-list {
    grid-template-columns: 1fr;
  }
}


















/* email copy css */

.email-container {
  display: inline-flex;
  align-items: center;
}

.copy-icon {
  height: 20px;
  /* Adjust the height as needed */
  width: 20px;
  /* Adjust the width as needed */
  margin-left: 8px;
  cursor: pointer;
  filter: invert(100%); /* Inverts the icon color to light */

}

.phone-icon {
  height: 20px;
  /* Adjust the height as needed */
  width: 20px;
  /* Adjust the width as needed */
  margin-right: 8px;
  vertical-align: middle;
}

.copy-icon:hover {
  color: #333;
}













/* Projects Section */
#projects {
  background: radial-gradient(circle at 50% 0%, #262626, #000000);
  margin: 40px 20px;
  padding: 40px; /* Adjust padding for smaller screens */
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#projects h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#projects h3 {
  color: #ccc;
  font-size: 24px;
  margin-bottom: 30px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Slider */
.slider {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.project-card {
  background-color: #2a2a2a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: left;
  flex: 0 0 100%;
  max-width: 100%;
  overflow-wrap: break-word;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.project-card h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.project-card p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #ccc;
}

.tech-stack,
.key-features {
  font-weight: 600;
  color: #aaa;
  margin-bottom: 10px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Slider Controls */
.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.prev-btn,
.next-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 16px;
}

/* Indicator Dots */
.indicator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.indicator-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #555;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.indicator-dot.active {
  background-color: #ccc;
}

/* Project Category */
.project-category ul {
  list-style-type: none;
  padding: 0;
}

.project-category ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-bottom: 20px; /* Add spacing between list items */
}

.project-category ul li:last-child {
  margin-bottom: 0; /* Remove bottom margin for the last list item */
}

.project-category ul li strong {
  color: #fff;
}

.project-category ul li a.live-btn {
  order: 2;
  display: block;
  width: auto;
  color: #fff;
  margin-top: 10px; /* Add spacing between the text and the live-btn link */
}

.live-btn {
  margin-left: 0;
  padding: 8px 16px;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.live-btn:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-card {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slider-container {
  animation: slideIn 0.5s ease-in-out;
}


@media (max-width: 768px) {
  #projects {
    padding: 30px 15px; /* Adjust padding for smaller screens */
  }

  #projects h2 {
    font-size: 28px;
  }

  #projects h3 {
    font-size: 22px;
  }

  .project-card {
    padding: 20px;
  }

  .project-card h4 {
    font-size: 20px;
  }

  .project-card p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  #projects {
    padding: 20px 10px; /* Adjust padding for even smaller screens */
  }

  #projects h2 {
    font-size: 24px;
  }

  #projects h3 {
    font-size: 18px;
  }

  .project-card {
    padding: 15px;
  }

  .project-card h4 {
    font-size: 18px;
  }

  .project-card p {
    font-size: 12px;
  }
}


#education {
  background-color: #282828; /* Dark background for the section */
  color: #f1f1f1; /* Light grey text for readability */
  padding: 20px;
  border-radius: 8px;
}

#education .section-heading {
  color: #ddd; /* Slightly lighter grey for the heading */
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.education-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.education-card {
  background-color: #333; /* Darker grey for each card */
  color: #f1f1f1; /* Ensures text is readable */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  margin: 20px;
  max-width: 400px;
  opacity: 0;
  transform: translateY(50px);
  animation: slide-up 0.5s ease-out forwards;
}

.degree h3, .degree p {
  color: #f1f1f1; /* Consistent text color throughout */
}

.degree p strong {
  color: #04D9B2; /* Bright teal for important dates and details */
}

.description p {
  color: #ccc; /* Light grey for description to differentiate from headings */
  margin-top: 0;
}

/* Maintain existing animations */
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



/* Dark Theme for Experience Section */
.experience-section {
  background-color: #333; /* Dark grey background */
  color: #fff; /* White text for readability */
  padding: 20px;
  border-radius: 8px;
}

.section-heading {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  color: #ddd; /* Lighter grey for headings */
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline-item {
  background-color: #424242; /* Slightly lighter grey for each timeline item */
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
  opacity: 0;
  transform: translateX(-50px);
  animation: slide-in 0.5s ease-out forwards;
}

.timeline-icon {
  width: 50px; /* Adjusted for better proportionality */
  height: 50px; /* Adjusted for better proportionality */
  background-color: #007BFF; /* Blue to stand out */
  margin-right: 20px;
  position: relative;
  border-radius: 50%; /* Circular icons */
}

.timeline-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.timeline-content {
  flex-grow: 1;
}

.timeline-content h3,
.timeline-content .company-name,
.timeline-content .job-duration {
  color: #ccc; /* Subtle grey for text */
}

.duration-highlight {
  color: #04D9B2; /* Bright teal for emphasis */
}

.timeline-content .job-description {
  background-color: #383838; /* Darker background for nested elements */
  padding: 10px;
  border-radius: 5px;
  color: #e0e0e0; /* Light grey for text inside descriptions */
}

.timeline-item:nth-child(even) {
  flex-direction: row-reverse;
  animation-name: slide-in-reverse;
}

.timeline-item:nth-child(even) .timeline-icon {
  margin-right: 0;
  margin-left: 20px;
}

/* Animations preserved for dynamic effect */
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-reverse {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Dark Theme for Resume Section */
#resume {
  text-align: center;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(59, 19, 19, 0.3); /* Enhanced shadow for depth */
  color: #f1f1f1; /* Light grey text for readability */
}


.resume-download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.resume-label .file-name {
  font-size: 18px;
  color: #f1f1f1; /* Light grey text for file name */
  border: 1px solid #444; /* Darker border for contrast */
  padding: 10px 20px;
  background-color: #333; /* Darker background for label */
  border-radius: 5px;
  margin-right: 15px;
}

.download-btn {
  background-color: #007BFF; /* Bright blue for download button */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.download-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}



/* //section heading css */

/* Experience and Education Sections */
.section-heading {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.section-heading::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background-color: #333;
}

/* Existing styles */

.end-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #1f2021;
}

.end-label {
  margin: 0;
  color: white;
}

.toTopButton {
  display: inline-block;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.toTopButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* animation for logos etc  */

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}


/* responsiveness */
@media screen and (max-width: 600px) {
  nav ul {
    text-align: center;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
  }
}