body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f4f4f4;
}

.project {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
}

/* Footer styles */
.footer {
  background: linear-gradient(45deg, #2c3e50, #4ca1af);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  padding: 40px 0;
  color: #fff;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info,
.social-links,
.copyright {
  flex-basis: 30%;
  text-align: center;
}

.social-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
}

.social-links a {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #e67e22;
}

.logo img, .social-media img {
  max-width: 30px; /* Adjust as needed */
  height: auto;
}


/* programmer logo css */

#about .header-with-image {
  display: flex;
  align-items: center;
}

#about .header-with-image h2 {
  margin-right: 10px;
}

#about .header-with-image img {
  width: 30px;
  height: 30px;
}
/* animation for logos etc  */

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


/* responsiveness */
@media screen and (max-width: 600px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
    }
}
